<div class="container">
  <div class="form-container">
    <div class="form-head">
      <p class="form-title"><i class="fa fa-pencil fa-lg"></i>&nbsp;Masukkan nomor Kartu Keluarga</p>
    </div>
    <div class="form-pendaftaran">
      <form class="group" action="index.html" method="post">
        <label for="">Nomor Kartu Keluarga</label>
        <div class="input-group">
          <input type="number" class="input" id="nik" ng-model="no_kk" placeholder="Nomor Kartu Keluarga" name="" value="">
          <div class="input-addon-btn">
            <button type="button" ng-click="cek(no_kk)" id="cek" class="btn btn-check" name="button"><i class="fa fa-check fa-lg"></i>Cek</button>
          </div>
        </div>
        <label for="">Nama Kepala Keluarga</label>
        <input type="text" class="input" id="nama_kk" ng-model="nama_kepala_keluarga" readonly placeholder="Nama Kepala Keluarga" name="" value="">
        <hr>
        <button type="submit" ng-click="submit()" class="btn btn-next" name="button"><i class="fa fa-save fa-lg"></i>&nbsp;Simpan</button>
      </form>
    </div>
  </div>
</div>
