<div class="container">
  <div class="form-container">
    <div class="form-head">
      <p class="form-title"><i class="fa fa-pencil fa-lg"></i>&nbsp;Ayah</p>
    </div>
    <div class="form-pendaftaran">
      <form class="group" action="index.html" method="post">
        <label for="">NIK</label>
        <div class="input-group">
          <input type="number" class="input" ng-model="nik" placeholder="NIK" name="" value="">
          <div class="input-addon-btn">
            <button type="button" ng-click="cek(nik)" class="btn btn-check" name="button"><i class="fa fa-check fa-lg"></i>&nbsp;Cek</button>
          </div>
        </div>
        <label for="">Nama Lengkap</label>
        <input type="text" class="input" ng-model="nama_lengkap" placeholder="Nama Lengkap" name="" value="">
        <hr>
        <button type="submit" ng-click="submit()" class="btn btn-next" name="button"><i class="fa fa-floppy-o fa-lg"></i>&nbsp;Simpan</button>
      </form>
    </div>
  </div>
</div>
