<div class="container" ng-controller="pelaporan">
  <div class="form-container">
    <div class="form-head">
      <p class="form-title"><i class="fa fa-pencil fa-lg"></i>&nbsp;Saksi I</p>
      <div class="tabs">
        <div class="tab click" id="dlmManado">
          <a href="javascript:void(0);"><i class="fa fa-map-marker fa-lg"></i>&nbsp;Manado</a>
        </div>
        <div class="tab" id="luarManado">
          <a href="javascript:void(0);"><i class="fa fa-map fa-lg"></i>&nbsp;Luar Manado</a>
        </div>
      </div>
    </div>
    <div class="form-pendaftaran">
      <form class="group" action="index.html" method="post" id="manado">
        <label for="">NIK</label>
        <input type="text" class="input" placeholder="NIK" name="" value="">
        <label for="">Nama Lengkap</label>
        <input type="text" class="input" readonly placeholder="Nama Lengkap" name="" value=""/>
        <hr>
        <button ng-click="pindahHalaman('halaman5')" type="button" class="btn btn-prev" name="button"><i class="fa fa-angle-left fa-lg"></i>&nbsp;Sebelumnya</button>
        <button ng-click="pindahHalaman('halaman7')" type="button" class="btn btn-next" name="button"><i class="fa fa-angle-right fa-lg"></i>&nbsp;Selanjutnya</button>
        <code>6 / 7 Halaman</code>
      </form>
      <form class="group" action="index.html" method="post" id="luar_manado">
        <label for="">NIK</label>
        <input type="text" class="input" placeholder="NIK" name="" value="">
        <label for="">Nama Lengkap</label>
        <input type="text" class="input" readonly placeholder="Nama Lengkap" name="" value="">
        <label for="">Tanggal Lahir / Umur</label>
        <input type="text" class="input" placeholder="Tanggal Lahir / Umur" name="" value="">
        <label for="">Pekerjaan</label>
        <input type="text" class="input" placeholder="Pekerjaan" name="" value="">
        <label for="">Alamat</label>
        <input type="text" class="input" name="" value="">
        <select class="input" name="">
          <option value="">Desa/Kelurahan</option>
        </select>
        <select class="input" name="">
          <option value="">Kecamatan</option>
        </select>
        <select class="input" name="">
          <option value="">Kabupaten/Kota</option>
        </select>
        <select class="input" name="">
          <option value="">Provinsi</option>
        </select>
        <hr>
        <button ng-click="pindahHalaman('halaman5')" type="button" class="btn btn-prev" name="button"><i class="fa fa-angle-left fa-lg"></i>&nbsp;Sebelumnya</button>
        <button ng-click="pindahHalaman('halaman7')" type="button" class="btn btn-next" name="button"><i class="fa fa-angle-right fa-lg"></i>&nbsp;Selanjutnya</button>
        <code>6 / 7 Halaman</code>
      </form>
    </div>
  </div>
</div>
