<div class="container">
  <div class="form-container">
    <div class="form-head">
      <p class="form-title"><i class="fa fa-pencil fa-lg"></i>&nbsp;Pelapor</p>
      <div class="tabs">
        <div class="tab click" id="dlmManado">
          <a href="javascript:void(0)"><i class="fa fa-map-marker fa-lg"></i>&nbsp;Manado</a>
        </div>
        <div class="tab" id="luarManado">
          <a href="javascript:void(0)"><i class="fa fa-map fa-lg"></i>&nbsp;Luar Manado</a>
        </div>
      </div>
    </div>
    <div class="form-pendaftaran">
      <form class="group" action="index.html" method="post" id="manado">
        <label for="">NIK</label>
        <div class="input-group">
          <input type="number" id="nik" class="input" ng-model="nik" placeholder="NIK" name="" value="">
          <div class="input-addon-btn">
            <button ng-click="cek(nik)" type="button" class="btn btn-check" name="button"><i class="fa fa-check fa-lg"></i>&nbsp;Cek</button>
          </div>
        </div>
        <label for="">Nama Lengkap</label>
        <input type="text" class="input" id="nama_lengkap" ng-model="nama_lengkap" readonly placeholder="Nama Lengkap" name="" value=""/>
        <label for="">Hubungan pelapor dengan jenazah</label>
        <input type="text" class="input" id="hub_kel" ng-model="hubungan_kel" placeholder="Hubungan pelapor dengan jenazah" name="" value="">
        <button type="button" class="btn btn-prev" onclick="window.location.replace('#!/daftar/ayah')" name="button"><i class="fa fa-angle-left fa-lg"></i>&nbsp;Kembali</button>
        <button type="submit" ng-click="submit()" class="btn btn-next" name="button"><i class="fa fa-floppy-o fa-lg"></i>&nbsp;Simpan</button>
      </form>
      <form class="group" action="index.html" method="post" id="luar_manado">
        <label for="">NIK</label>
        <input type="number" ng-model="nik_luar" class="input" placeholder="NIK" name="" value="">
        <label for="">Nama Lengkap</label>
        <input type="text" ng-model="nama" class="input" placeholder="Nama Lengkap" name="" value="">
        <label for="">Hubungan pelapor dengan jenazah</label>
        <input type="text" class="input" id="hubkel" ng-model="hubungan_kel_pelapor" placeholder="Hubungan pelapor dengan jenazah" name="" value="">
        <label for="">Tanggal Lahir</label>
        <input type="text" id="date" ng-model="tanggal" class="input" placeholder="Tanggal Lahir" name="" value="">
        <label for="">Jenis Kelamin</label>
        <select class="input" ng-model="jenis_kelamin" name="">
          <option value="Laki-laki">Laki-laki</option>
          <option value="Perempuan">Perempuan</option>
        </select>
        <label for="">Pekerjaan</label>
        <input type="text" ng-model="pekerjaan" class="input" placeholder="Pekerjaan" name="" value="">
        <label for="">Alamat</label>
        <input type="text" ng-model="alamat" placeholder="Alamat" class="input" name="" value="">
        <hr>
        <button type="button" class="btn btn-prev" onclick="window.location.replace('#!/daftar/ayah')" name="button"><i class="fa fa-angle-left fa-lg"></i>&nbsp;Kembali</button>
        <button type="submit" ng-click="submit()" class="btn btn-next" name="button"><i class="fa fa-floppy-o fa-lg"></i>&nbsp;Simpan</button>
      </form>
    </div>
  </div>
</div>
<div id="tanggal"></div>
