<form class="group" action="index.html" method="post">
  <fieldset>
    <legend>Jenazah</legend>
  </fieldset>
  <label for="">NIK</label>
  <input type="text" class="input" placeholder="NIK" name="" value="">
  <label for="">Nama Lengkap</label>
  <input type="text" placeholder="Nama Lengkap" class="input" readonly name="" value="">
  <label for="">Jenis Kelamin</label>
  <select class="input" name="">
    <option value="1">Laki - laki</option>
    <option value="2">Perempuan</option>
  </select>
  <label for="">Tanggal Lahir / Umur</label>
  <input type="text" class="input" readonly placeholder="Tanggal Lahir / Umur" name="" value="">
  <label for="">Agama</label>
  <select class="input" name="">
    <option value="1">Islam</option>
    <option value="2">Kristen</option>
    <option value="3">Katolik</option>
    <option value="4">Hindu</option>
    <option value="5">Budha</option>
    <option value="6">Lainnya</option>
  </select>
  <label for="">Pekerjaan</label>
  <input type="text" readonly class="input" name="" value="" placeholder="Pekerjaan">
  <label for="">Alamat</label>
  <input type="text" class="input" name="" value="" placeholder="Alamat">
  <select class="input" name="">
    <option value="">Desa/Kelurahan</option>
  </select>
  <select class="input" name="">
    <option value="">Kecamatan</option>
  </select>
  <select class="input" name="">
    <option value="">Kabupaten/Kota</option>
  </select>
  <select class="input" name="">
    <option value="">Provinsi</option>
  </select>
  <label for="">Anak ke</label>
  <select class="input" name="">
    <option value="1">Pertama</option>
    <option value="2">Kedua</option>
    <option value="3">Ketiga</option>
    <option value="4">Keempat</option>
    <option value="5">...</option>
  </select>
  <label for="">Tanggal Kematian</label>
  <input type="text" class="input" placeholder="Tanggal kematian" name="" value="">
  <label for="">Pukul</label>
  <input type="text" class="input" name="" value="" placeholder="Pukul">
  <label for="">Sebab kematian</label>
  <select class="input" name="">
    <option value="1">Sakit biasa / tua</option>
    <option value="2">Wabah penyakit</option>
    <option value="3">Kecelakaan</option>
    <option value="4">Kriminalitas</option>
    <option value="5">Bunuh diri</option>
    <option value="6">Lainnya</option>
  </select>
  <label for="">Yang menerangkan</label>
  <select class="input" name="">
    <option value="1">Dokter</option>
    <option value="2">Tenaga Kesehatan</option>
    <option value="3">Kepolisian</option>
    <option value="4">Lainnya</option>
  </select>
  <hr>
  <button ng-click="pindahHalaman('')" type="button" class="btn btn-prev" name="button"><i class="fa fa-angle-left fa-lg"></i>&nbsp;Sebelumnya</button>
  <button ng-click="pindahHalaman('halaman3')" type="button" class="btn btn-next" name="button"><i class="fa fa-angle-right fa-lg"></i>&nbsp;Selanjutnya</button>
  <code>2 / 7 Halaman</code>
</form>
