html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: white;
  font-family: sans-serif;
}

hr {
  border: 0;
  background: #aaa;
  padding: .5px;
  border-style:none;
}

fieldset {
  border: 0;
  border-top : 1px solid #333;
  margin: 15px 5px;
  padding:0 15px;
}

label {
  margin: 10px 5px;
}

code {
  padding: 5px 10px;
  margin: 10px 15px;
  background: #f0a432;
  border : 1.5px solid #e49011;
  border-radius: 5px;
  font-family: sans-serif;
  color : white;
  font-size: 12px;
  float: right;
}

footer {
  background: rgba(255, 255, 255, 0.32);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.34);
  position: fixed;
  padding: 5px auto;
  text-align: center;
  font-size: 12px;
  font-family: Helvetica !important;
  right: 0;
  bottom: 0;
  left : 0;
}

/* Table */
.table-responsive {
  overflow: auto;
}

.table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.table thead {
  padding: 0;
  margin: 0;
}

.table tr {
  margin: 0;
  padding: 0;
}

.table tr th {
  font-weight: 500;
  padding: 5px 10px;
  margin: 0;
  background: white;
  text-align: left;
  border-right: 1px solid #ddd;
  border-bottom: 2.5px solid #ddd;
  cursor: pointer;
}

.table tr th:hover {
  cursor: pointer;
}

.table tr th:last-child {
  border-right: 0;
}

.table tbody {
  padding: 0;
  margin: 0;
}

.table tr td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: white;
  padding: 5px 10px;
  font-weight: lighter;
  margin: 0 auto;
}

.table tbody tr td .ng-binding {
  color: #444;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 5px;
  background: #eee;
  display: inline-block;
}

.table tr:nth-child(even) td {
  background: rgb(250,250,250) !important;
  /*padding: 8px 15px;*/
}

/* image modal */

.img-modal {
  background: rgba(0, 0, 0, 0.21);
  position: fixed;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5000;
  overflow-y: auto;
  text-align: center;
}

.img-content {
  background: #fefefe;
  width: 50%;
  height: auto;
  border: 3px solid #efefef;
  margin: 5px auto;
  border-radius: 5px;
  cursor: zoom-in;
  animation: img-modal-in 750ms forwards;
  display: none;
  transition: 750ms ease-in-out;
  transform-origin: top;
}

.img-close {
  background: rgba(255, 255, 255, 0.73);
  padding: 5px 10px;
  border-radius: 50%;
  color: maroon;
  position: absolute;
  top : 60px;
  right : 15px;
  cursor: pointer;
}

.img-width {
  width: 90% !important;
  height: auto;
  transition: 750ms ease-in-out;
  cursor: zoom-out;
}

@keyframes img-modal-in {
  0% {
    opacity: 0;
    transform: scale(0) translateX(-50%);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes img-modal-out {
  0% {
    opacity: 0;
    transform: scale(1) translateX(0);
  }
  100% {
    opacity: 1;
    transform: scale(0) translateX(-50%);
  }
}

/**/

/* Kotak */
.kotak {
  background: #efefef;
  overflow: hidden;
  border-radius: 4px;
  margin: 5px auto;
  width: 100%;
  padding: 0 !important;
  border : 1px solid #26384b;
}

.kotak .head {
  background: #26384b;
  padding: 0;
  margin: 0;
}

.kotak .head .head-title {
  padding: 10px 15px;
  color: white;
  margin: 0px 5px;
  font-size: 15px;
}

.kotak .kotak-body {
  padding: 5px 10px;
  background: white;
}

/* input group */
.input-error:focus {
  box-shadow: 0px 0px 3px 0px rgba(221, 42, 42, 0.54) !important;
  transition: .35s all ease-in-out;
}

.input-success {
  color: #4eba70 !important;
  border-color: #4eba70 !important;
}

.input-success:focus {
  box-shadow: 0px 0px 3px 0px rgba(78, 186, 112, 0.54) !important;
  transition: .35s all ease-in-out;
}

.input-group {
  margin: 5px auto;
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .input {
  max-height: 30px;
  margin: 0;
}

.input-group .input-addon {
  padding: 0px 15px !important;
  max-height: 30px !important;
  line-height: 1;
  color: white;
  background: #0e618a;
  border: 1px solid #47a3d0;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  z-index: 10;
}

.input-group .input:first-child {
  border-right: 0;
}

.input-group .input:not(:first-child):not(:last-child) {
  border-right: 0;
  border-left: 0;
}

.input-group .input-addon, .input-addon-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .input, .input-addon, .input-addon-btn {
  display: table-cell;
}

.input-addon-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-addon-btn > .btn {
  margin: 0;
  padding: 5px 10px;
  line-height: 1.5;
  font-size: 12px;
  /*border: inherit;*/
  position: relative;
}

.input-group .input:last-child,
.input-addon:last-child,
.input-addon-btn:last-child > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-addon-btn:first-child > .btn {
  border-right: 0;
}

.input-addon-btn:last-child > .btn {
  border-left: 0;
}

.input-group .input:first-child,
.input-addon:first-child,
.input-addon-btn:first-child > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .input:not(:first-child):not(:last-child),
.input-addon:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group .input {
  position: relative;
  float : left;
  margin-left: 0;
  margin-right: 0;
  z-index: 2;
  width: 100%;
}

/* - Grid - */
.grid {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.grid::before,
.grid::after,
.row::before,
.row::after {
  content: " ";
  display: table;
}

.grid::after,
.row::after {
  clear: both;
}

[class*='col-'] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 0 5px;
}

.col-1 { width: 8.333%; }
.col-2 { width: 16.667%;}
.col-3 { width: 25%; }
.col-4 { width: 33.332%;}
.col-5 { width: 41.667%;}
.col-6 { width: 50%;}
.col-7 { width: 58.333%;}
.col-8 { width: 66.667%;}
.col-9 { width: 75%;}
.col-10 { width: 83.333%;}
.col-11 {width: 91.667%;}
.col-12 { width: 100%;}

.wrapper {
  display: flex;
}

.sidebar-area {
  width: 255px;
  float: left;
  position: relative;
}

.content-area {
  width: 80%;
  float: left;
  flex: 1;
  position: relative;
}

.content-area::before {
  content : " ";
  display: block;
  height: 30px;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 255px;
  top : 0px;
  background: #f0f0f0;
  overflow: auto;
  z-index: 20;
}

.sidebar::before {
  display: block;
  content: " ";
  height: 50px;
}

.sidebar .user {
  margin: 15px auto;
  width: 100%;
  display: block;
}

.sidebar .user a {
  margin: 0 auto;
  padding: 10px 15px;
  color : #505050;
  font-size: 20px;
  text-decoration: none;
  text-indent: 5px;
  /*background: rgba(0, 0, 0, 0.24);*/
  display: block;
}

.sidebar .user a:hover {
  color: #717171;
}

.sidebar .sidebar-menu {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.sidebar .sidebar-menu li a {
  padding: 10px 15px;
  display: block;
  background: #34495e;
  text-decoration: none;
  color: white;
}

.sidebar-menu li .active {
  background: #c14a4a !important;
  border-bottom: 1.5px solid #f1b2b2 !important;
}

.sidebar-menu li:first-child a {
  border-bottom: 1.5px solid #55ad7e;
}

.active::after {
  content: " ";
  float: right;
  padding: 0;
  margin: 0px -15px;
  border-left: 10px solid transparent;
  border-right: 10px solid #f0f0f0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.sidebar-menu .submenu {
  padding: 0;
  text-indent: 5px;
  border-bottom: solid 1.5px rgb(81, 148, 134);
}

.submenu li a {
  background: #eee !important;
  /*border-top: .25px solid #777;*/
  border-bottom: 0 !important ;
  color: #555 !important;
}

.submenu li a.submenu-active {
  background: #2197da !important;
  color: white !important;
}

.submenu-active::after {
  content: " ";
  float: right;
  padding: 0;
  margin: 0px -15px;
  border-left: 10px solid transparent;
  border-right: 10px solid #f0f0f0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.submenu li a.submenu-active:hover {
  background: #41ace8 !important;
  color : white !important;
}

.submenu-active i.fa {
  color: white !important;
}

.submenu li a:hover {
  background: #ddd !important;
  color: #333 !important;
}

.submenu .fa {
  color: #b83e3a !important;
}

.slide-icon {
  float: right;
}

.submenu li:first-child a {
  border: 0 !important;
  /*border-bottom:*/
}

/*- Media query -*/

@media screen and (min-wdth:320px) {
  .col-1 {
    width: 16.667%;
  }
  .col-2, .col-3, .col-4 {
    width: 25%;
  }
}

@media screen and (max-width : 1268px)
{
  .col-3 { min-width: 239.500px;}
  .middle {
  }
  .subtitle {
    text-align: center;
    font-size: 15px;
    display: none;
  }
  .body {

  }
  footer {
    display: none;
  }
}

.btn-collapse {
  display: none !important;
}

@media screen and (max-width : 1268px) {
  .col-3 {min-width: 50%;}
  .subtitle {display: block;}
  .btn-collapse { display: none !important;}
}

@media screen and (max-width : 1000px) {
  .table {
    min-width: 1000px;
  }
}

@media screen and (max-width : 720px) {
  .subtitle {max-width: 90% !important;}
  .col-3 { width: 100% !important;}
  .col-6 { width: 100% !important;}
  .col-4 {width: 100% !important;}
}

@media screen and (max-width : 640px) {
  .col-3 { width: 100% !important;}
  .col-6 { width: 100% !important;}
}

@media screen and (max-width : 550px) {
  /*.subtitle {
    display: none;
  }*/
}

@media screen and (max-width : 500px) {
  .subtitle {max-width: 90%;}
  .col-3 { min-width: 100% !important;}
  .body {min-width: 95%;}
  .btn-collapse { display: none !important;}
}

@media screen and (max-width : 519px) {
  .row {padding: 5px 5px; margin: 0 auto;}
  .card { width: 100% !important;}
  .col-3 { min-width: 100%; }
  .navbar .menu li {
    display: block;
  }
  .col-6 {
    width: 100%;
  }
  .content {
    min-width: 100% !important;
  }
  .btn-collapse { display: block !important;}
  .menu li:nth-child(1) {
    /*opacity: 0;*/
  }
  .body {min-width: 95%;}
  .menu {display: block;}
  .menu li:last-child{
    float: left !important;
    display: none;
  }

  .menu li:nth-child(2) {
    display: none;
    float: none;
    width: 100%;
  }

  .menu li:nth-child(3) {
    display: none;
    float: none;
    width: 100%;
  }

  .menu li:nth-child(4) {
    display: none;
    float: none;
    width: 100%;
  }
}

@media screen and (min-wdth:640px) {
  .col-1 { width: 8.333%; }
  .col-2 { width: 16.667%;}
  .col-3 { width: 25%; }
  .col-4 { width: 33.332%;}
  .col-5 { width: 41.667%;}
  .col-6 { width: 50%;}
  .col-7 { width: 58.333%;}
  .col-8 { width: 66.667%;}
  .col-9 { width: 75%;}
  .col-10 { width: 83.333%;}
  .col-11 {width: 91.667%;}
  .col-12 { width: 100%;}
}

/* Navbar */
.navbar {
  background: #2a71a5;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: block;
}

.menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.menu li a {
  display: block;
  padding: 15px 12.5px;
  margin: 0 auto;
  text-decoration: none;
  color: white;
}

.menu li a.logo {
  margin-right: 15px;
}

.menu li a.logo:hover {
  color: #ccc;
}

.menu li:nth-child(2n) a:hover{
  background: rgba(255, 255, 255, 0.25);
}

.menu li:nth-child(3n) a:hover{
  background: rgba(255, 255, 255, 0.25);
}

.menu li:last-child {
  float: right;
  margin-right: 5px;
}

/* Tabs */
.tabs {
  display: flex;
  padding: 0;
  margin: 15px auto;
  width: 100%;
  border-bottom : 1px solid #00B294;
}

.tabs .tab {
  background: #f9f9f9;
  color: #00B294;
  padding: 10px 15px;
  width: 100%;
  display: inline-block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 .5px;
  border-top : 1px solid #00B294;
  border-left : 1px solid #00B294;
  border-right : 1px solid #00B294;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0px;
}

.tabs .tab:hover {
  background: #eee;
}

.tabs .tab a {
  color: inherit;
  text-decoration: none;
}

.tabs .click {
  background: #f6f6f6 !important;
  margin-bottom: -1px;
  /*border: 1px solid black !important;*/
}

.tabs .click:hover {
  background: #fafafa !important;
  /*border: 1px solid black !important;*/
}

#luar_manado, #alur-pembuatan {
  display: none;
}

#alur-pembuatan img {
  width: 100%;
  height: auto;
}

/**/
.notifikasi {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  position: fixed;
  z-index: 300;
  top : 60px;
  left : 50%;
  max-width: 90%;
  transform: translate(-50%);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.33);
  animation: notif-in 500ms forwards;
  display: none;
}

.notifikasi .notifikasi-body {
  background: #7ccddb;
  font-weight: lighter;
  padding: 15px 15px;
  flex: 1;
  font-size: 20px;
  color: white;
}

.notifikasi .notifikasi-body::after {
  display: block;
  content: " ";
  clear: both;
}

.notifikasi .notifikasi-body .notifikasi-close {
  float: right;
  margin: 5px 5px;
  margin-left: 20px;
  font-size: 15px;
  color: maroon;
}

.notifikasi .notifikasi-icon {
  background: #555;
  color: white;
  padding: 15px 15px;
  font-size: 20px;
  overflow: hidden;
}

.notifikasi .notifikasi-icon i {
  animation-delay: 500ms;
  animation: bell-in 500ms forwards;
}

@keyframes notif-in {
  0% {
    opacity: 0;
    transform: translate(-50%) rotateX(-90deg);
  }
  50% {
    transform: rotateX(1deg) translate(-50%);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) translate(-50%);
  }
}


@keyframes bell-in {
  0% {
    /*opacity: 0;*/
    transform: translateY(-500px);
  }
  50% {
    transform:translateY(1px);
  }
  100% {
    /*opacity: 1;*/
    transform:  translateY(-5%);
  }
}

@keyframes notif-out {
  0% {
    transform: translate(-50%) rotateX(0deg);
  }
  50% {
    transform: translate(-50%);
    opacity: 1;
  }
  100% {
    transform: rotateX(-90deg) translate(-50%);
    opacity: 0;
  }
}

@keyframes bell-out {
  0% {
    /*opacity: 0;*/
    transform: translateY(0);
  }
  50% {
    transform:translateY(1px);
  }
  100% {
    /*opacity: 1;*/
    transform:  translateY(-500px);
  }
}

/* --- Content --- */

.jumbotron {
  background: #999;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.jumbotron img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.space {
  height: 45px;
}

.container {
  padding: 5px 5px;
  margin: 15px 10px;
}

.form-container {
  max-width: 720px;
  margin: 15px auto;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #26384b;
}

.login {
  max-width: 450px;
}

.form-head {
  background: #26384b;
  padding: 0px 0px;
  color: white;
}

.form-head .form-title {
  margin: 0 auto;
  padding: 10px 20px;
}

.form-head .tabs {
  padding-top : 5px;
  margin-top: 5px;
  border-bottom-color: white;
  margin-bottom: 0px;
}

.form-head .tabs .tab {
  background: inherit;
  border-color: white;
  color: white;
  width: auto;
}

.form-head .tabs .tab:hover {
  background: rgba(255,255,255,0.12);
}

.form-head .tabs .click {
  color: #26384b;
}

.form-pendaftaran {
  background: #f6f6f6;
  padding: 10px 10px;
}

.form-pendaftaran .group {
  padding: 0;
  margin: 0 auto;
}

.form-pendaftaran .group .btn-next {
  cursor: pointer;
  float: right;
}

.form-pendaftaran .btn {
  cursor: pointer;
}

.form-container .group:after {
  content : " ";
  display: block;
  clear: both;
}

select.input {
  font-size: 12px;
  height: 30px;
}

textarea.input {
  resize: none;
  max-width: 100%;
}

.input {
  font-size: 12px !important;
  padding: 8px 15px;
  width: 100%;
  margin: 5px auto;
  box-sizing: border-box;
  border-style: none;
  border: 1px solid #0a5078;
  font-size: 15px;
  border-radius: 5px;
}

select > .input {
  padding: 5px 15px;
  width: 100%;
  margin: 5px auto;
  box-sizing: border-box;
  border-style: none;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.34);
  font-size: 15px;
  border-radius: 5px;
}

.input:focus {
  outline-style: none;
  border-color: rgb(12, 135, 249);
  box-shadow: 0px 0px 4px 0px rgba(12, 135, 249, 0.54);
  transition: .35s all ease-in-out;
}

/**/
.dtpicker-content {
  border-radius: 5px;
}

.dtpicker-button {
  background: #0a6294 !important;
  border-radius: 5px;
}

.dtpicker-value {
  color: #555 !important;
  font-size: 2em !important;
}

/* Loading */
.loading {
  background: #c84747;
  padding: 5px 15px;
  position: fixed;
  border-radius: 15px;
  left : 50%;
  text-align: center;
  top : 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
  display: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.34);
}

.loading i.fa {
  margin: 5px 5px;
  padding: 15px 5px;
  font-size: 45px;
  color: white;
  text-align: center;
}

.loading .text {
  color: white;
  margin: 5px 5px;
  text-align: center;
}

.loading .progress {
  color: white;
  font-size: 15px;
  display: none;
}

@keyframes loading-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**/

.btn {
  background: #aaa;
  padding: 10px 15px;
  margin: 5px 5px;
  border-radius: 5px;
  border-style: solid;
  border: 1px solid #888;
}

.btn:focus {
  outline-style: none;
}

.btn:active {
  outline-style: none;
}

.btn-collapse {
  background: #3d8e96;
  border: 1.5px solid white;
  color: white;
  float: left;
  cursor: pointer;
  display: block;
}

.btn-check {
  background: white;
  border-color: #0a5078;
  padding: 5px 15px;
  font-size: 12px;
  color: #0a5078;
}

.btn-check:hover {
  background: #eee;
  cursor: pointer;
}

.btn-check:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.btn-next {
  background: #82b54d;
  border : 1px solid #8ebf5c;
  color : white;
  font-size: 12px;
}

.btn-next:hover {
  background: #80ad51;
  border : 1px solid #8ebf5c;
  color : white;
  font-size: 12px;
}

.btn-next:active {
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.33);
}

.btn-prev {
  background: #378fcf;
  border : 1px solid #5caabf;
  color : white;
  font-size: 12px;
}

.btn-prev:hover {
  background: #518cad;
  border : 1px solid #5ca4bf;
  color : white;
  font-size: 12px;
}

.btn-next:disabled {
  background: #a1af94;
  border-color: #a1af94;
  cursor: not-allowed;
}

.btn-prev:disabled {
  background: #5b86a4;
  cursor: not-allowed;
  border-color: #58808b;
}

.btn-edit {
  background: #ec923f;
  border : 1px solid #e28b3b;
  color: #592f09;
  font-size: 13px;
}

.btn-edit:hover {
  background: #f2a55d;
  border : 1px solid #e78327;
}

.btn-edit:disabled {
  background: #d7b696;
  border : 1px solid #e7c8ac;
}

.btn-hapus {
  background: #d04e46;
  border : 1px solid #bf4a43;
  color: white;
  font-size: 13px;
}

.btn-hapus:hover {
  background: #f25d5d;
  border : 1px solid #e72727;
}

.btn-hapus:disabled {
  background: #d79797;
  border : 1px solid #e7acac;
}

/**/

.body {
  width: 80%;
  padding: 15px 20px;
  margin: 10px auto;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.panel {
  background: #f4f4f4;
  padding: 10px 15px;
  margin: 5px 5px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.panel span.icon {
  font-size: 65px;
  float: left;
  margin: 15px 5px;
}

.panel::after {
  content: " ";
  display: block;
  clear: both;
}

[class*='.panel-'] h1, h4 {
  font-weight: normal;
}

[class*='.panel-'] h1 {

}

.panel-red {
  background: #d65341;
  border: 1px solid #c7412f;
  color: white;
}

.panel-red h4, h1 {
  font-weight: normal !important;
}

.panel-red h4 {
  float: right;
  margin: 2.5px auto;
}

.panel-red h1 {
  font-size: 60px;
  margin: .5px 15px;
  float: right;
}

.panel-green {
  background: #37b65e;
  color: white !important;
  border: 1px solid #2fab55;
}

.panel-green h4 {
  float: right;
  margin: 2.5px auto;
}

.panel-green h1 {
  font-size: 60px;
  margin: .5px 15px;
  float: right;
}

.panel-blue {
  background: #5aabd2;
  color: white !important;
  border: 1px solid #2384b4;
}

.panel-blue h4 {
  float: right;
  margin: 2.5px auto;
}

.panel-blue h1 {
  font-size: 60px;
  margin: .5px 15px;
  float: right;
}

.content-head {
  border-radius: 5px;
  background: #34495e;
  color:white;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 15px;
}

.content-head p {
  padding: 0;
  margin: 5px auto;
}

.content {
  width: 100%;
  padding: 5px 5px;
  margin: 10px auto;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.body .title {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

.body .subtitle {
  font-size: 15px;
  text-align: center;
  margin: 2.5px auto;
  padding: 2.5px 10px;
  border-top: .5px solid #bbb;
  border-top-style: solid;
  max-width: 35%;
}

.body .icon {
  font-size: 45px;
  text-align: center;
  color : #2a6d9e;
}

.body .list li {
  margin: 15px auto;
  font-size: 18px;
  font-weight: 300;
}

.body img {
  width: 100%;
}

.card {
  background: #eee;
  text-align: center;
  position: relative;
}

.card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
  /*transition: all 500ms ease-in-out;*/
}

.card h4 {
  position: relative;
  margin: 5px auto;
  font-size: 20px;
  font-weight: normal;
}

.info {
  position: absolute;
  right: 5px;
  top : 5px;
  color : #777;
  cursor: pointer;
}

.card hr {
  margin: 5px auto;
}

.card:before {
  content:  " ";
  height: 25px;
}

.card:after {
  content:  " ";
  height: 25px;
}

.card .btn-card::before {
  content:  " ";
  height: 25px;
}

.spaces {
  height: 20px;
}

.blue {
  color: #2e90d7 !important;
}

.green {
  color: #0d9162;
  font-size: 44.5px !important;
}

.gray {
  color: #7b797d;
}

.btn-card-blue {
  background:  #2e90d7 !important;
  border-color: #1978bd !important;
}

.btn-card-blue:hover {
  background:  #379de7 !important;
  border-color: #2785c9 !important;
}

.btn-card-green {
  background: #0d9162 !important;
  border-color: #0d9357 !important
}

.btn-card-green:hover {
  background: #09714c !important;
  border-color: #17a666 !important
}

.btn-card-gray {
  background : #7b797d !important;
  border-color: #605f61 !important;
}

.btn-card-gray:hover {
  background : #555456 !important;
  border-color: #575658 !important;
}

.btn-card-darkblue {
  background: #2a6d9e;
  border-color: #2d78b0;
}

.btn-card-darkblue:hover {
  background: #20577f;
  border-color: #1e5176;
}

.btn-card {
  color: white;
  position: absolute;
  bottom : 0;
  right : 0;
  left : 0;
  width: 100%;
  margin: 0 auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
}

.body::after {
  content: ".";
  display: none;
  clear: both;
}

.body hr {
  clear: both;
}

.collapse {
  background: white;
  padding: 0;
  margin: 5px 2.5px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.23);
}

.collapse .head {
  cursor: pointer;
  background: #fafafa;
  padding: 5px 15px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  border-bottom: #777 1.5px solid;
  color: #07415b;
}

.red {
  background: #d44936 !important;
  color : white !important;
  border-bottom-color: #a33c3c !important;
}

.red p {
  color : white !important;
}

.collapse .blue {
  background: #3688d4 !important;
  color : white !important;
  border-bottom-color: #3c87a3 !important;
}

.collapse .blue .collapse-icon i.fa {
  color: white !important;
}

.collapse .blue p {
  color : white !important;
}

.lightgreen {
  background: #76e2ab !important;
  color : white !important;
  border-bottom-color: #3ca372 !important;
}

.lightgreen .collapse-icon i.fa {
  color: white !important;
}

.lightgreen p {
  color : white !important;
}

.collapse .darkblue {
  background: #1374b1 !important;
  color : white !important;
  border-bottom-color: #4297d5 !important;
}

.collapse .darkblue .collapse-icon i.fa {
  color: white !important;
}

.darkblue p {
  color : white !important;
}

.turquoise {
  background: #15b388 !important;
  color : white !important;
  border-bottom-color: #29a469 !important;
}

.turquoise .collapse-icon i.fa {
  color: white !important;
}

.turquoise p {
  color : white !important;
}

.collapse .head::after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: left;
}

.collapse .head p {
  margin: 5px auto;
  padding: 0;
  float: left;
  color: #07415b;
}

.collapse .head .collapse-icon {
  padding: 5px 5px;
  float: right;
  margin: 0 auto;
}

.collapse-icon .icon-up {
  animation: rotate-icon-up 500ms forwards;
}

.collapse-icon .icon-down {
  animation: rotate-icon-down 500ms forwards;
}

.collapse .collapse-body {
  background: white;
  padding: 5px 15px;
  margin: 0 auto;
  border: #fafafa 1px solid;
  /*display: none;*/
}
/* -- Modal window -- */

#modal {
  display: none;
}

.modal {
  z-index: 200;
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  top : 0;
  right : 0;
  left : 0;
  bottom : 0;
  overflow-y: auto;
}

.modal-window {
  z-index: 300;
  overflow: hidden;
  margin: 15px auto;
  padding: 0;
  max-width: 520px;
  width: 90%;
  border-radius: 5px;
  animation: modal-in 750ms forwards;
}

.modal-lg {
  max-width: 90% !important;
}

.modal-titlebar {
  background: #ddd;
  padding: 5px 20px;
  border-bottom: .25px solid #ccc;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-titlebar .title {
  margin: 5px auto;
  padding: 0;
}

.modal-titlebar .close {
  float: right;
  margin: 5px auto;
  color: #d04444;
  font-size: 12px;
}

.modal-titlebar .close i.fa-times {
  cursor: pointer;
}

.modal-titlebar .close:hover {
  color: #b45656;
}

.modal-content {
  background: #eee;
  padding: 5px 20px;
  text-align: left;
}

.modal-content .group label {
  text-align: left !important;
}

.modal-content .pendaftaran-berhasil {
  text-align: center;
  font-weight: lighter !important;
  margin: 5px auto;
  width: 80%;
}

.modal-content .pendaftaran-berhasil .logo {
  width: 50px;
  height: auto;
  float : left;
}

.modal-content .nomor-pendaftaran {
  text-align: center;
  font-weight: lighter !important;
  font-size: 45px;
}

.modal-content::after {
  content : " ";
  display: block;
  clear: both;
}

.modal-content a {
  text-decoration: none;
  color : #555;
}

.modal-footer {
  border-top: .25px solid #ccc;
  background: #eee;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-footer .btn-modal {
  background: #3c7ead;
  color: #eee;
  cursor: pointer;
  margin: 2.5px 0px;
  width: 100%;
  border: none;
}

.modal-footer .btn-modal:hover {
  background: #226595;
}

/**/

.errors {
  z-index: 4000;
  background: #b64f4f;
  position: fixed;
  top : 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: none;
  overflow-y: auto;
}

.error {
  background: white;
  padding: 5px 15px;
  border-radius: 5px;
  color: black !important;
  max-width: 80%;
  margin: 15px auto;
}

.error p {
  color: black !important;
}

.errors p {
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  color: white;
}

.errors p:first-child {
  font-weight: 700;
  font-size: 20px;
}

.errors p:last-child:last-child {
  font-size: 20px;
}

@keyframes menu-down {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes rotate-icon-up {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-icon-down {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes menu-up {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes modal-in {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  50% {
    opacity: 1;
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes modal-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-500px);
  }
}
