<div class="container">
  <div class="body">
    <h2><i class="fa fa-question-circle fa-lg"></i>&nbsp;Bantuan</h2>
    <div class="tabs">
      <div class="tab click" id="btnBantuan">
        <a href="javascript:void(0)">Bantuan</a>
      </div>
      <div class="tab" id="btnAlur">
        <a href="javascript:void(0)">Alur pembuatan</a>
      </div>
    </div>
    <hr>
    <br>
    <div id="bantuan">
      <div class="collapse">
        <div class="head">
          <p><i class="fa fa-wpforms fa-lg"></i>&nbsp;Pendaftaran</p>
          <span class="collapse-icon"><i class="fa fa-angle-down fa-lg"></i></span>
        </div>
        <div class="collapse-body">
          <h3>Alur pendaftaran</h3>
          <ol>
            <li>Masukkan nama</li>
            <li>Masukkan NIK</li>
            <li>Masukkan DLL</li>
          </ol>
        </div>
      </div>
      <div class="collapse">
        <div class="head">
          <p><i class="fa fa-upload fa-lg"></i>&nbsp;Upload file</p>
          <span class="collapse-icon"><i class="fa fa-angle-down fa-lg"></i></span>
        </div>
        <div class="collapse-body">
          <h3>File yang harus dimasukkan</h3>
          <ol>
            <li>Masukkan nama</li>
            <li>Masukkan NIK</li>
            <li>Masukkan DLL</li>
          </ol>
        </div>
      </div>
    <!--  -->
    </div>
    <div id="alur-pembuatan">
      <h4>Alur</h4>
      <img src="assets/img/Alur-kematian.jpg" alt="">
    </div>
  </div>
</div>
