<div class="container">
  <div class="body">
    <h3><i class="fa fa-file-text-o fa-lg"></i>&nbsp;Dokumen dan kelengkapan untuk mengurus Akta Kematian</h3>
    <hr>
    <ul class="list">
      <li>Surat Kematian (Visum) dari Dokter/Paramedis</li>
      <li>Fotocopy Akta Kelahiran yang meninggal (bagi yang memiliki)</li>
      <li>Fotocopy Akta Perkawinan yang meninggal bagi yang kawin</li>
      <li>Fotocopy Akta Kematian Suami/Istri bagi duda atau janda</li>
      <li>Fotocopy KTP Pelapor dan 2 (dua) orang Saksi (yang mengetahui peristiwa)</li>
    </ul>
  </div>
</div>
