<div class="container">
  <div class="form-container login">
    <div class="form-head">
      <p class="form-title"><i class="fa fa-sign-in fa-lg"></i>&nbsp;Login</p>
    </div>
    <div class="form-pendaftaran">
      <form class="group" action="index.html" method="post">
        <label for="">Username</label>
        <input type="text" ng-model="username" class="input" placeholder="Username" name="" value=""/>
        <label for="">Password</label>
        <input type="password" class="input" ng-model="password" placeholder="Password" name="" value=""/>
        <button type="submit" ng-click="login()" class="btn btn-next" name="button"><i class="fa fa-sign-in fa-lg"></i>&nbsp;Login</button>
      </form>
    </div>
  </div>
</div>
