<div class="container">
  <div class="form-container">
    <div class="form-head">
      <p class="form-title"><i class="fa fa-ticket fa-lg"></i>&nbsp;Masukkan nomor pendaftaran</p>
    </div>
    <div class="form-pendaftaran">
      <form class="group" action="index.html" method="post">
        <label for="">Nomor pendaftaran</label>
        <input ng-model="no_pendaftaran" type="number" class="input" placeholder="Nomor pendaftaran" name="" value="">
        <button type="submit" class="btn btn-prev" ng-click="cek(no_pendaftaran)" name="button"><i class="fa fa-check fa-lg"></i>Masukkan</button>
      </form>
    </div>
  </div>
</div>
